* {
    box-sizing: border-box;
}

.my-stuff-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    /* margin-left: -30em; */
}

.my-stuff-header {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2em;
}

.my-stuff-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    justify-content: center;
    /* margin-left: 4em; */
}

.my-stuff-item {
    margin: .5em;
    font-size: 1.5em;
    height: 10em;
    width: 8em;
    transition: all ease-in-out .2s;;

    border: 2px solid #d6d6d6;
    /* backdrop-filter: blur(20px); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.my-stuff-item a {
    width: inherit;
    height: inherit;
    display: inline-block;
}

.my-stuff-item:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px rgb(203, 203, 203);
}

.my-stuff-label {
    text-align: center;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    color: #ffffff;

    width: inherit;
    height: 2em;
    cursor: pointer;
}

.my-stuff-item:hover .my-stuff-label {
   border: none;
   /* text-decoration: underline;
   text-decoration-thickness: 5px;
   text-decoration-color: #ffffff; */
}

#photos {
    background-image: url('../img/covers/photos_blur.jpg');
    background-size: 100% 100%; 
}

#threed {
    background-image: url('../img/covers/3d_blur.jpg');
    background-size: 100% 100%; 
}

#jam {
    background-image: url('../img/covers/jam_no_blur.jpg');
    background-size: 100% 100%; 
}

#threer {
    background-image: url('../img/covers/3r_no_blur.jpg');
    background-size: 100% 100%; 
}

#schedio {
    background-image: url('../img/covers/schedio_no_blur.jpg');
    background-size: 100% 100%; 
}

#voby {
    background-image: url('../img/covers/voby_no_blur.jpg');
    background-size: 100% 100%; 
}

#posts {
    background-image: url('../img/covers/posts_blur.jpg');
    background-size: 100% 100%; 
}

.about-me-cont {
    width: 90%;
    min-height: 20em;
    height: 400px;
    margin: 4em;
    display: flex;
    flex-direction: row;

    border: 2px solid #d6d6d6;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 0px rgb(203, 203, 203);

    overflow-wrap: break-word;
    word-break: break-word;
}

.about-me-cont img {
    /* width: 360px; */
    height: auto;
    max-width: 100%;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.about-me-cont p {
    width: 100%;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1em;
    margin: 0;
    overflow-wrap: break-word;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.social {
    font-size: .8em;
}

.container-md {
    margin-left: 0em;
}

@media (max-width: 1600px) {
    .about-me-cont p {
        font-size: .9em;
    }
}

@media (max-width: 1200px) {
    .about-me-cont p {
        font-size: .8em;
    }
}

@media (max-width: 1100px) {
    .about-me-cont p {
        font-size: .7em;
    }
}

@media (max-width: 1000px) {
    .about-me-cont {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 1em;
        padding: 1em;
    }

    .about-me-cont img {
        border-radius: 99px;
        width: 200px;
        height: 200px;
    }

    .about-me-cont p {
        padding: 0.5em;
        margin: 0;
        font-size: 1em;
    }

    .my-stuff-item {
        height: 10em;
        width: 8em;
    }
}