.my-stuff-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: flex-start;
    /* margin-left: -30em; */
}

.my-stuff-header {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2em;
}

.my-stuff-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    height: inherit;
    /* margin-left: 4em; */
}

.my-stuff-item {
    margin: .5em;
    font-size: 1em;
    height: 15em;
    width: 12em;
    max-width: 100%;
    transition: all ease-in-out .2s;;

    border: 2px solid #d6d6d6;
    border-radius: 5px;
    /* backdrop-filter: blur(20px); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.my-stuff-item a {
    width: inherit;
    height: inherit;
    display: inline-block;
}

.my-stuff-item:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px rgb(203, 203, 203);
}

.my-stuff-label {
    text-align: center;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    color: #ffffff;

    width: inherit;
    height: 2em;
    cursor: pointer;
}

.my-stuff-item:hover .my-stuff-label {
   border: none;
   /* text-decoration: underline;
   text-decoration-thickness: 5px;
   text-decoration-color: #ffffff; */
}

#photos {
    background-image: url('../img/covers/photos_blur.jpg');
    background-size: 100% 100%; 
}

#threed {
    background-image: url('../img/covers/3d_blur.jpg');
    background-size: 100% 100%; 
}

#jam {
    background-image: url('../img/covers/jam_no_blur.jpg');
    background-size: 100% 100%; 
}

#threer {
    background-image: url('../img/covers/3r_no_blur.jpg');
    background-size: 100% 100%; 
}

#schedio {
    background-image: url('../img/covers/schedio_no_blur.jpg');
    background-size: 100% 100%; 
}

#voby {
    background-image: url('../img/covers/voby_no_blur.jpg');
    background-size: 100% 100%; 
}

#posts {
    background-image: url('../img/covers/posts_blur.jpg');
    background-size: 100% 100%; 
}

.about-me-cont {
    width: 90%;
    min-height: 20em;
    height: auto;
    border: 2px solid #d6d6d6;
    margin-bottom: 4em;
    display: flex;
    flex-direction: row;
}

.about-me-cont img {
    width: auto;
    max-width: 360px;
    max-height: 360px;
    height: inherit;
    margin: 1em;
    margin-bottom: -1em;
}

.about-me-cont p {
    width: inherit;
    height: auto;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.social {
    font-size: .8em;
}

.container-md {
    margin-left: 1em;
}

@media (max-width: 850px) {
    .about-me-cont {
        flex-direction: column;
    }

    .my-stuff-item {
        height: 10em;
        width: 8em;
    }
}