---
layout: page
---

{{ content }}


<div class="my-stuff-block">
  <h1 class="my-stuff-header">About Me</h1>
  <div class="about-me-cont">
    <img src="../assets/img/tsdim-personal.jpeg">
    <div style="display: flex;flex-direction: column;width: 100%">
      <p>
        Heyo, it's me, Tsimpitas Dimitris, frequently known as TsDim, TsimpDim, Dimi, Tsimpi, you name it :D
        </br></br>
        Professionally, I started out as a Cloud Engineer focusing on Hyperscalers like AWS although responsibilities shifted throughout the years more towards Product Ownership and Project Management.
        The coding 'itch' however never left me which is why I always try to build and maintain personal projects, which I create to learn new technologies, fulfill my needs, and hopefully help others at the same time. It's a hobby I very much enjoy!

        </br></br>
        On the hobby side of things though, coding is not the only player. I try to maintain a level of creative work through my photography and digital art. My investment in digital art started waaaay back when I was young, but photography was a newfound activity that started in the Corona days.
        Oh yeah, and biking, can't forget biking. Photography + biking is a combo I would recommend to everyone!
        
        </br></br>
        Scroll through my stuff - hopefully you'll find something you like :) Also, here's where you can find me:

        <a class="social" href="https://github.com/{{ site.social-network-links.github }}" title="GitHub">
          <span class="fa-stack fa-lg" aria-hidden="true">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
          <span class="sr-only">GitHub</span>
       </a>
      
       <a class="social" href="https://linkedin.com/in/{{ site.social-network-links.linkedin }}" title="LinkedIn">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
      
      <a class="social" href="mailto:{{ site.social-network-links.email }}" title="E-mail">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">E-mail</span>
      </a>
      </p>
     
  </div>
</div>

<h1 class="my-stuff-header">My Stuff</h1>
<div class="my-stuff-container">
  <div class="my-stuff-item" id="photos">
    <a href="https://www.flickr.com/photos/189199421@N02/" target="_blank"></a>
    <div class="my-stuff-label">Photos</div>
  </div>

  <div class="my-stuff-item" id="threed">
    <a href="https://www.tsimpdim.wordpress.com" target="_blank"></a>
    <div class="my-stuff-label">Digital</div>
  </div>

  <div class="my-stuff-item" id="posts">
    <a href="/posts" target="_blank"></a>
    <div class="my-stuff-label">Posts</div>
  </div>

  <div class="my-stuff-item" id="jam">
    <a href="https://jam.tsdim.net" target="_blank"></a>
  </div>

  <div class="my-stuff-item" id="threer">
    <a href="https://threer.tsdim.net/" target="_blank"></a>
  </div>

  <div class="my-stuff-item" id="schedio">
    <a href="https://schedio.tsdim.net" target="_blank"></a>
  </div>

  <div class="my-stuff-item" id="voby">
    <a href="https://voby.tsdim.net" target="_blank"></a>
  </div>
</div>
